/*css重置开始*/
*{
    margin: 0;
    padding:0;
}
*{
    text-decoration: none;
}
img{
    border: 0;
}
li{
    list-style: none;
}
.wrapper{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

/*css重置结束*/
