/*header开始*/
#header {
    background: url("../img/banner.jpg") center;
    height: 600px;
}
/*header结束*/

/*new product开始*/
#new-product{
    height: 350px;
}
#new-product .sale{
    background: url("../img/bg1.jpg") no-repeat center;
    width: 360px;
    height: 210px;
    float: left;
    margin-left:30px;
    margin-top: 60px;

}
#new-product .bg2{
    background:url("../img/bg2.jpg") no-repeat center;
}
#new-product .bg3{
    background:url("../img/bg3.jpg") no-repeat center;
    margin-left: 0px;
}
#new-product .sale h4{
    font-size: 30px;
    color:black;
    margin-top: 180px;
    margin-left: 200px;
}
/*new product 结束*/

/*product开始*/
#product{
    height: 1000px;
}
.product-info{
    width: 340px;
    height: 440px;
    border: 1px solid moccasin;
    float: left;
    margin-top: 40px;
    margin-right: 20px;
}
.product-info .new{
    background: #fa558f;
    color: #ffffff;
    padding: 10px;
    font-size: 10px;
    float: right;

}
.product-info img{
    width: 248px;
    height: 248px;
    border: 1px solid moccasin;
}
#product-detail{
    background: #aaaaaa;;
}
.product-detail h4
{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.product-detail h3{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
}
.input{
    width: 180px;
    height: 25px;
    margin-top: 10px;
    text-indent: 10px;
}
.buycar{
    background: darkorange;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*product结束*/



/*problem开始*/
#problem .wrapper{
    background:url("../img/b1.png") no-repeat center;
    width: 1348px;
    height: 260px;
}
#menu-text{
    width: 1140px;
    height: 160px;
    position: relative;
    top: 60px;
    left: 200px;
}
.menu{
    float: left;
    margin-right: 50px;

}
.menu li{
    list-style: disc;
    padding-left:30px ;
    height: 28px;
    color: #ffffff;;

}
.menu li a{
    color: #ffffff;
}
.tittle{
    color: #ffffff;
    font-weight: bolder;
}
.menu li a:hover{
    text-decoration: underline;
}

/*problem结束*/

