#header {
    background: url("../img/banner.jpg") center;
    height: 600px;
}
#header img{
    vertical-align: middle;
}
#login:hover{
    text-decoration: underline;
}
#cart{
    width: 260px;
    background: #000;
    opacity: 0.7;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    height: 30px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 100px;
}
.wrapper{
    width: 1140px;
    display: block;
    margin: 0 auto;

}
.first-line{
    width: 380px;
    float: left;
    color: #ffffff;
}
.main-header{
    height: 100px;
    line-height: 100px;
}
#nav li{
    width: 190px;
    height: 40px;
    float: left;
    display: block;
    background: #fa558f;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
#nav li a{
    color: #ffffff;
}
#home-page{
    margin-left: 100px;
}
#nav li:hover{
    background: #3c3b3b;
}















