/*header开始*/
#header {
    background: url("../img/banner44.png")no-repeat center ;
    height: 250px;
    margin-left: 0;
}
/*#header img{*/
/*vertical-align: middle;*/
/*}*/
#login a{
    color: #ffffff;
}

#login a:hover{
    text-decoration: underline;
}
#cart{
    width: 260px;
    height: 30px;
    line-height: 30px;
    background: #000 url("../img/cart.png") 200px center no-repeat;
    opacity: 0.7;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 100px;
}

.first-line {
    width: 380px;
    float: left;
    color: #ffffff;
}
.main-header{
    height: 100px;
    line-height: 100px;
}
#nav li{
    width: 190px;
    height: 40px;
    float: left;
    display: block;
    background: #fa558f;
    line-height: 40px;
    text-align: center;
}
#nav li a{
    color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
}

#nav li:hover{
    background: #3c3b3b;
}
#submenu{
    background: #fff;
    width: 1140px;
    height: 280px;
    margin-left:-190px;
    display: none;
}
#makeup:hover #submenu{
    display: block;
}
#submenu li{
    background: #ffffff;
    clear: both;
}
#nav #submenu li a{
    color: #666;
    font-size: 15px;
    text-align: left;
}
#nav #submenu ol{
    float: left;
}
#submenu a:hover{
    background: #ffffff;
    text-decoration: underline;
}
#submenu .second-nav{
    border-bottom: 1px solid #aaaaaa;
    width: 150px;
    text-align: left;
    font-size: 15px;
}
#submenu .second-nav:hover{
    background: #ffffff;
}
.wrapper>P{
    color: #ffffff;
    position: relative;
    top: 90px;
    left:950px;
    cursor: pointer;
}
/*header结束*/

/*login开始*/
#login-all{
    padding-top: 56px;
}
.login-left{
    width: 570px;
    height: 290px;
    float: left;
    display: block;
}
.login-left label input{
    width: 380px;
    height: 20px;
    padding: 8px;
    boder-color:#5d5959；
    font-size: 20px;
   outline: none;
}
.login-left form{
    margin-top: 30px;
    color:#5d5959;
}
.login-left input[type="text"]{
    margin-bottom: 30px;
}
.login-left a{
    color:#5d5959;
    text-decoration: underline;
}

.login-right{
    float: left;
    width: 570px;
}
.login-right h3{
    color:#ef8743;
    margin-bottom: 10px;
}
.login-right p{
    color: #5d5959;
    font-size: 15px;
}
.login-register{
    width: 114px;
    height: 40px;
    
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    outline: none;
    border: none;

}

/*login结束*/