
/*login¿ªÊ¼*/
#login-all{
    padding-top: 56px;
    height: 600px;
}
.login-left{
    width: 570px;
    height: 290px;
    float: left;
    display: block;
}
.login-left label input{
    width: 380px;
    height: 20px;
    padding: 8px;
    boder-color:#5d5959£»
    font-size: 20px;
   outline: none;
    margin-bottom: 30px;
}
.login-left form{
    margin-top: 30px;
    color:#5d5959;
}

.login-left a{
    color:#5d5959;
    text-decoration: underline;
}
.login-left input[value="Login"]{
    background: #ef8743;
    color: #ffffff;
    font-size: 20px;
}
.login-left input[value="Login"]:hover{
    color: #000;
    background: #ffffff;
    border: 1px solid #000;
}
.login-right{
    float: left;
    width: 570px;
}
.login-right h3{
    color:#ef8743;
    margin-bottom: 10px;
}
.login-right p{
    color: #5d5959;
    font-size: 15px;
}
.login-register{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
.login-right button{
   border: 1px solid #000;
    color: #000;
    font-size: 16px;
}
.login-right button:hover{
    background: #ef8743;
    border: none;
    color: #ffffff;
}
/*login½áÊø*/
