
/*registr¿ªÊ¼*/
#register{
    padding: 60px;
    height: 600px;
}
.register-left{
    width: 570px;
    float: left;
}
.register-left p{
    color:#5d5959;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.register-left a{
    color: #000;
}
.register-left a:hover{
    color:#ef8743;
    text-decoration: underline;
}
.register-left label{
    color: #5d5959;
}
.register-left label input {
    width: 400px;
    height: 20px;
    padding: 8px;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.register-left input[type="submit"]{
    width: 416px;
    height: 40px;
    background: #ef8743;
    border: none;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
}
.register-left input[type="submit"]:hover{
    background: #fff;
    color: #000;
    border: 1px solid #000;


}
.register-right{
    float: left;
    width: 570px;
}
.register-right h3{
    color: #ef8743;
    margin-top: 30px;
}
.register-right p{
    color: #999;
    font-size:14px;
    line-height: 26px;
}
/*register½áÊø*/
